NODE_ENV=development
PORT=3000

MONGO_URI=your MongoDB Atlas URI or LocalHost URI

GEOCODER_PROVIDER=mapquest
GEOCODER_API_KEY=your geocoder api key

FILE_UPLOAD_PATH=./public/uploads
MAX_FILE_UPLOAD=1000000
JWT_SECRET=Put Youre JWT Secret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=Your Smtp Email Here
SMTP_PASSWORD=Your Smtp Password Here
FROM_EMAIL=From Who Email
FROM_NAME= From Who Name
